<div class="burger__container" role="navigation" aria-label="Menu">
  <button class="burger" aria-label="Menu button">
    <div class="burger__meat burger__meat--1"></div>
    <div class="burger__meat burger__meat--2"></div>
    <div class="burger__meat burger__meat--3"></div>
  </button>
  <ul id="navigation_burger" class="burger__socials">
    <li>
      <a href="https://github.com/PaulRosset" target="_blank"
        ><img src="/github.png" alt="Paul Rosset's Github link"
      /></a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/paul-rosset-ab9891a8/"
        target="_blank"
        ><img src="/linkedin.png" alt="Paul Rosset's Linkedin link"
      /></a>
    </li>
    <li>
      <a href="https://twitter.com/RossetPaul" target="_blank"
        ><img src="/twitter.png" alt="Paul Rosset's Twitter link"
      /></a>
    </li>
    <li>
      <a href="https://medium.com/@RossetPaul" target="_blank"
        ><img src="/medium.png" alt="Paul Rosset's Medium link"
      /></a>
    </li>
  </ul>
</div>
