<div class="burger__container">
  <div class="burger" aria-controls="navigation_burger" aria-label="Menu">
    <div class="burger__meat burger__meat--1"></div>
    <div class="burger__meat burger__meat--2"></div>
    <div class="burger__meat burger__meat--3"></div>
  </div>
  <ul id="navigation_burger" class="burger__socials">
    <li><a href="https://github.com/PaulRosset" target="_blank"><img src="/github.png" alt="github_logo"/></a></li>
    <li><a href="https://www.linkedin.com/in/paul-rosset-ab9891a8/" target="_blank"><img src="/linkedin.png" alt="linkedin_logo"/></a></li>
    <li><a href="https://twitter.com/RossetPaul" target="_blank"><img src="/twitter.png" alt="twitter_logo"/></a></li>
    <li><a href="https://medium.com/@RossetPaul" target="_blank"><img src="/medium.png" alt="medium_logo"/></a></li>
  </ul>
</div>
